*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

/* styling the menu bar */

.menu-width, .about-width, .project-width, .skills-width, .contact-width{
    max-width: 2000px;
    padding: 0 80px;
    margin: auto;
}
.menu-bar{
    position: fixed;
    width: 100%;
    background: white;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    padding: 5px 0;
    z-index: 9999;
}
.menu-bar .menu-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-bar .logo a{
    font-size: 30px;
    font-weight: 600;
    color: black;
}
.menu-bar .logo span{
    color: teal;
}
.menu-bar .nav-list li{
    list-style: none;
    display: inline-block;
}
.menu-bar .nav-list li a{
    color: black;
    font-size: 15px;
    font-weight: 300;
    margin-left: 35px;
    transition: color 0.3s ease;
}
.menu-bar .nav-list li a:hover{
    color: teal;
    height: 100px;
    width: 100px;
}

/* hero section styling */
.hero{
    display: flex;
    background: url("/assets/images/bg-2.jpeg") no-repeat;
    height: 60vh;
    color: white;
    min-width: 500px;
    background-position: fill;
    background-size: cover;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.hero .hero-width{
    margin: auto 0 auto 200px;
}
.hero .hero-content .hero-welcome{
    font-size: 30px;
}
.hero .hero-content .hero-name{
    font-size: 60px;
    font-style: italic;
    margin-left: 70px;
    color: teal;
}

/* styling the about me section  */
.title{
    border-top: 5px;
}
section, .projects, .contact, .skills, footer{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.about, .projects{
    padding: 10px 15px;
    align-items: center;
}
.about .title, .skills .title{
    position: relative;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: teal;
    text-align: center;
}

.about .about-me-content img{
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}   
.about .about-me .about-me-content{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    object-fit: cover;
    text-align: left;
    justify-content: left;
    display: flex;
}
.about .about-me-content .content-text{
    margin-left: 30px;
    padding: 0 19px;
}

/* styling the projects section  */
.projects, .contact{
    background-color: teal;
    flex-wrap: wrap;
}
.projects .title, .contact .title{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-color: #f7e7ce;
    color: black;
    width: 100%;
    text-align: center;
}
.projects .run-buddy{
    padding: 0px 30px;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.projects .rb-content{
    display: flex;
    justify-content: space-between;    
    flex-direction: column-reverse;
}
.projects .run-buddy .rb-text{
    font-size: 25px;
    font-weight: 300;
}
.projects .run-buddy .rb-preview img{
    border-radius: 25px;
    margin-top: 25px;
    padding: 10px;
    width: 250px;
    height: auto;
}

/* styling the skill section  */
.skills .title, .contact .title{
    margin-top: 10px;
}
.skill-1 {
    display: flex;
    justify-content: space-evenly;
}
.skills .skill-1 img{
    width: 350px;
    height: auto;
}

/* styling the contact section */
.contact .icons{
    display: flex;
    justify-content: space-between;
}

.rows{
    font-size: 20px;
    color: black;
    padding: 20px;
}
#fas{
    font-size: 40px;
    margin-bottom: 20px;
    
}
/* styling the footer section */
footer{
    background: black;
    padding: 20px 23px;
    color: white;
    text-align: center;
    font-size: 12px;
}
footer span{
    color:teal;
    text-decoration: none;
}
footer span:hover{
    text-decoration: underline;
}

@media (max-width: 955px) {
.menu-bar{
    justify-content: center;
    position: relative;
}
.menu-bar .menu-width {
    flex-direction: column;
    text-align: center;
}
.menu-bar .logo{
    width: 0 100%;
    text-align: center;
    justify-content: space-between;
}
header nav ul{
    margin-top: 20px;
    width: 100%;
}
header nav ul a{
    font-size: 20px;
}
.about .about-me-content .content-text {
    margin-left: 30px;
    padding: 0 19px;
    display: flex;
    flex-direction: column;
}
user agent stylesheet
div {
    display: block;
}
.about .about-me .about-me-content {    display: flex;
    text-align: center;
    flex-direction: column;
}
footer{
    font-size: 8px;
}
}
@media (max-width:769px) {
.projects .rb-content{
    display: flex;
    justify-content: space-between;    
    flex-direction: column-reverse;
}

.contact .icons{
    flex-direction: column;
}
}
@media (max-width:620px) {
.hero .hero-content{
    text-align: left;
}

.hero .hero-content .hero-name{
    font-size: 30px;
}
.about .about-me-content .content-text{
    margin-left: 0;
    padding: 0 0;
}
.hero{
    height: 30vh;
}
}